<nav class="navbar navbar-expand-lg w-100 sticky-top" style="background-color: gainsboro;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/presse.jpg" alt="Logo" width="45" height="35" class="d-inline-block align-text">
        Journalistes du monde
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link btn border-0 fw-bold" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn border-0 fw-bold" aria-current="page" routerLink="/articles">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn border-0 fw-bold" aria-current="page" routerLink="/add-articles">Add Articles</a>
          </li>
        </ul>
      </div>
      <div>
        
          <a class="btn btn-outline rounded mx-2" type="button" style="background-color: white;" routerLink="/home">LogOut</a>
       
      </div>
    </div>
  </nav>