
<div class="row">
    <div class="offset-md-2 col-md-8 mt-5">
        <h1 class="text-center text-primary mt-5">Articles</h1>
        <mat-card class="example-card" *ngFor="let article of articles">
            <mat-card-header>
              <mat-card-title>{{ article.titre }} </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{article.image}}" >
            <mat-card-content>
              <p>
               {{article.article}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class="btn btn-primary rounded mx-2">LIKE</button>
              <button  class="btn btn-primary rounded">SHARE</button>
            </mat-card-actions>
          </mat-card>
          
           
    </div>
</div>

<!-- <form >
  <mat-form-field >
    <mat-label>Article</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filtredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->